
<h1 class="boardtitle"><%=@user.username.camelcase%>'s Boards</h1>
<% if @user.id == session[:user_id]%>
<div class="addaboard"><a>Add a Board</a></div>
<div class="boardform"></div>
<%end%>

<div id="masonry-container">
  <div id="masonry-object">
      <% @user.boards.each do |board|%>
      <% if board.darts.all.first || @user.id == session[:user_id]%>
       <div class="masonryImage box col3">
          <div class="masonry-item">
            <a href="/boards/<%=board.id%>">
              <img src="<%= board.darts.first.image_url %>" alt="a photo">
            </a>
            <h4 class="boardname"><%=board.name%></h4>
          </div>
      </div>
      <%end%>
    <%end%>
  </div>
</div>
