
<% if flash[:notice] %>
  <h2><%=h flash[:notice] %></h2>
<% end %>


    <!-- <div class="transitions-enabled infinite-scroll clearfix"> -->
<div id="masonry-container">
  <% @darts.shuffle.each do |dart|%>
    <div class="masonryImage box col3">
      <a value="<%= dart.link_url %>" class="test-popup-link" href="<%=dart.image_url%>">
        <div class="masonry-item">
          <img src="<%= dart.image_url %>" alt="a photo">
        </div>
      </a>
    </div>
    <!-- </div> -->
  <%end%>
</div>






