<% if flash[:notice] %>
  <h2><%=h flash[:notice] %></h2>
<% end %>


    <!-- <div class="transitions-enabled infinite-scroll clearfix"> -->
      <% @darts.shuffle.each do |dart|%>
         <div class="masonryImage box col3">
          <a href="<%= dart.link_url %>"><img src="<%= dart.image_url %>" alt="a photo"></a>
        </div>
    <!-- </div> -->
  <%end%>







