<% if flash[:notice] %>
  <h2><%=h flash[:notice] %></h2>
<% end %>


  <% @darts.each do |dart|%>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
     <div class="box col3">
      <a href="<%= dart.link_url %>"><img src="<%= dart.image_url %>" alt="a photo"></a>
    </div>
  </div>
  <%end%>





